@font-face {
  font-family: 'Mediator Serif Narrow Web';
  src: url('/fonts/Inter/Mediator Serif Narrow Web.woff2') format('woff2'); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}