@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@theme {
  --breakpoint-sm: 390px;
  --breakpoint-sm-md: 600px;
  --breakpoint-md: 768px;
  --breakpoint-2xl: 1440px;
  --color-red: #df072e;
  --color-red2: #e63946;
  --color-red3: #ff4444;
  --color-white: #fff;
  --color-black: #1e1e1e;
  --color-gray: #737474;
  --inset-shadow-heavy: inset -1px -101px 145px 15px rgba(0, 0, 0, 1);
  --shadow-middle: 0 8px 30px rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(255, 255, 255, 0.1);
  --shadow-blue: 0 0 0 3px rgba(0, 87, 255, 0.15);
  --font-mediator-serif-narrow-web: "Mediator Serif Narrow Web", sans serif;
  --animate-spin: spin 5s ease-in-out infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 0;
  font-display: swap;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
